
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-image: url("2nature.avif");
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(to right, #84bccb, #021e3f)
}
.calculator{
    border: 1px solid #d7c9c9;
    padding: 10px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px  rgba(12, 12, 108, 0.2);
   
}
input{
    color: white;
    width: 320px;
    border: none;
    padding: 10px;
    border-radius: 16px;
    background:transparent;
    margin: 10px;
    font-size:50px ;
    text-align: right;

}
input::placeholder{
    color: #fff;

}
input:focus{
    outline: none;
}
button{
    width: 70px;
    height: 70px;
    border: none;
    margin: 5px;
    font-size: 25px;
    border-radius: 50px;
    background: #f4eded;
    background: transparent;
    color: white;
    box-shadow: -8px -8px 15px  rgb(8, 8, 8);
    cursor: pointer;
}
.btn{
    color: rgb(6, 77, 6);
}
.equalbtn{
    background-color: rgb(209, 51, 15);
}